<launch>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="verbose" value="true"/>
  </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find turtlebot3_slam_3d)/urdf/roby21.urdf -urdf -model roby2"
    output="screen" />


</launch>
